<!--Page Header Start-->
<div class="page-main-header">
    <div class="main-header-left" [attr.semilight-bg-color]="customize.data.header.semiLightbgColor">
        <div class="logo-wrapper">
            <a [routerLink]="'/landing'">
                <img src="assets/images/logo-light.png" class="image-dark" alt="" />
                <img src="assets/images/logo-light-dark-layout.png" class="image-light" alt="" />
            </a>
        </div>
    </div>
    <div class="main-header-right row" [attr.header-bg-color]="customize.data.header.headerBgColor">
        <div class="mobile-sidebar" id="mobile-sidebar">
            <div class="media-body text-right switch-sm">
                <label class="switch">
                    <input type="checkbox" id="sidebar-toggle" checked="checked">
                    <span class="switch-state" (click)="switchToggle()"></span>
                </label>
            </div>
        </div>
        <div class="nav-right col">
            <ul class="nav-menus" [class.open]="open">
                <li>
                    <a href="javascript:void(0)" toggleFullscreen class="text-dark">
                        <img class="align-self-center pull-right mr-2" src="assets/images/dashboard/browser.png"
                            alt="header-browser">
                    </a>
                </li>
                
                <li class="onhover-dropdown">
                    <a href="javascript:void(0)" class="txt-dark">
                        <img class="align-self-center pull-right mr-2" src="assets/images/dashboard/notification.png"
                            alt="header-notification">
                        <span class="badge badge-pill badge-primary notification">3</span>
                    </a>
                    <ul class="notification-dropdown onhover-show-div">
                        <li>Notification <span
                                class="badge badge-pill badge-secondary text-white text-uppercase pull-right">3
                                New</span></li>
                        <li>
                            <div class="media">
                                <i
                                    class="align-self-center notification-icon icofont icofont-shopping-cart bg-primary"></i>
                                <div class="media-body">
                                    <h6 class="mt-0">Your order ready for Ship..!</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                    <span><i class="icofont icofont-clock-time p-r-5"></i>Just Now</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <i
                                    class="align-self-center notification-icon icofont icofont-download-alt bg-success"></i>
                                <div class="media-body">
                                    <h6 class="mt-0 txt-success">Download Complete</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                    <span><i class="icofont icofont-clock-time p-r-5"></i>5 minutes ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <i class="align-self-center notification-icon icofont icofont-recycle bg-danger"></i>
                                <div class="media-body">
                                    <h6 class="mt-0 txt-danger">250 MB trush files</h6>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                    <span><i class="icofont icofont-clock-time p-r-5"></i>25 minutes ago</span>
                                </div>
                            </div>
                        </li>
                        <li class="text-center">You have Check <a href="javascript:void(0)">all</a> notification </li>
                    </ul>

                </li>
                <li class="onhover-dropdown">
                    <div class="media  align-items-center">
                        <img class="align-self-center pull-right mr-2" src="assets/images/dashboard/user.png"
                            alt="header-user" />
                        <div class="media-body">
                            <h6 class="m-0 txt-dark f-16">
                                My Account
                                <i class="fa fa-angle-down pull-right ml-2"></i>
                            </h6>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div p-20">
                        <li>
                            <a [routerLink]="['/users/edit']">
                                <i class="icon-user"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/email/app']">
                                <i class="icon-email"></i>
                                Inbox
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/to-do/todo']">
                                <i class="icon-check-box"></i>
                                Task
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/chat/app']">
                                <i class="icon-comments"></i>
                                Chat
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="authService.SignOut()">
                                <i class="icon-power-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="d-lg-none mobile-toggle">
                <i class="icon-more" (click)="openHeaderMenu()"></i>
            </div>
        </div>
    </div>
</div>

<!--Page Header Ends-->