<!--Page Header Start-->
<div class="page-main-header">
    <div class="main-header-left" [attr.semilight-bg-color]="customize.data.header.semiLightbgColor">
        <div class="logo-wrapper">
            <a [routerLink]="'/landing'">
                <img src="assets/images/logo-light.png" class="image-dark" alt="" />
                <img src="assets/images/logo-light-dark-layout.png" class="image-light" alt="" />
            </a>
        </div>
    </div>
    <div class="main-header-right row" [attr.header-bg-color]="customize.data.header.headerBgColor">
        <div class="mobile-sidebar" id="mobile-sidebar">
            <div class="media-body text-right switch-sm">
                <label class="switch">
                    <input type="checkbox" id="sidebar-toggle" checked="checked">
                    <span class="switch-state" (click)="switchToggle()"></span>
                </label>
            </div>
        </div>
        
        <div class="nav-right col">
            <ul class="nav-menus" [class.open]="open">
                <li>
                    <form class="form-inline search-form">
                        <div class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="search" class="form-control-plaintext" [class.open]="openSearch"
                                placeholder="Buscar..">
                            <span class="d-sm-none mobile-search" (click)="clickSearch()">
                            </span>
                        </div>
                    </form>
                </li>
                <li class="onhover-dropdown" *ngIf="!conectorApi.usuario.codigoRol">
                    <a [routerLink]="['/comercio/carrito']" class="txt-dark">
                        <img class="align-self-center pull-right mr-2" src="assets/images/dashboard/carrito.png"
                            alt="header-notification">
                        <span class="badge badge-pill badge-primary notification" *ngIf="selectCartItems.length>0">{{selectCartItems.length}}</span>
                    </a>
                    <ul class="notification-dropdown onhover-show-div">
                        <li *ngIf="selectCartItems.length>0">Carrito <span
                                class="badge badge-pill badge-secondary text-white text-uppercase pull-right">{{selectCartItems.length}}
                                Prod..</span></li>
                        <li *ngIf="selectCartItems.length==0">El carrito esta vacio</li>
                        <li *ngFor="let item of selectCartItems">
                            <a [routerLink]="['/comercio/detalle',item.producto.id]">
                            <div class="media">
                                    <img class="align-self-center img-fluid img-60" [src]="urlImagenes+[item.producto.pathImagen]" alt="Producto">
                                <div class="media-body">
                                    <h6 class="mt-0">{{item.producto.nombre}} x {{item.cantidad}}</h6>
                                    <p class="mb-0">{{item.producto.descripcionCorta}}</p>
                                    <span><i class="icofont p-r-5">C/u</i>{{item.producto.oferta>0?item.producto.oferta:item.producto.precio | currency:'Q':'symbol'}}</span>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li class="text-center" *ngIf="selectCartItems.length>0"><a [routerLink]="['/comercio/carrito']">Ver detalle</a></li>
                    </ul>

                </li>

                <li>
                    <div class="media  align-items-center" *ngIf="!conectorApi.usuario.email">
                        <a [routerLink]="['/login']" title="Ingresar">
                        Iniciar sesión
                        </a>
                    </div>
                </li>

                <li class="onhover-dropdown" *ngIf="conectorApi.usuario.email">
                    <div class="media  align-items-center">
                        <img class="align-self-center pull-right mr-2" src="assets/images/dashboard/user.png"
                            alt="header-user" />
                        <div class="media-body">
                            <h6 class="m-0 txt-dark f-16">
                                {{conectorApi.usuario.name}}
                                <i class="fa fa-angle-down pull-right ml-2"></i>
                            </h6>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div p-20">
                        <li *ngIf="!conectorApi.usuario.codigoRol">
                            <a [routerLink]="['/comercio/mispedidos']">
                                <i class="icon-user"></i>
                                Pedidos
                            </a>
                        </li>
                        <li *ngIf="!conectorApi.usuario.codigoRol">
                            <a [routerLink]="['/comercio/direcciones']">
                                <i class="icon-email"></i>
                                Direcciones
                            </a>
                        </li>
                        <li *ngIf="!conectorApi.usuario.codigoRol">
                            <a [routerLink]="['/comercio/listadeseos']">
                                <i class="icon-list"></i>
                                Lista de deseos
                            </a>
                        </li>
                        
                        <li>
                            <a href="javascript:void(0)" (click)="salir('google')">
                                <i class="icon-power-off"></i>
                                Salir
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="d-lg-none mobile-toggle">
                <i class="icon-more" (click)="openHeaderMenu()"></i>
            </div>
        </div>
    </div>
</div>

<!--Page Header Ends-->