<!--page-wrapper Start-->
<div class="page-wrapper">
    <app-header (toggleEvent)="receiveToggle($event)"></app-header>
    <!--Page Body Start-->
    <div class="page-body-wrapper " [class.sidebar-close]="toggle" [ngClass]="customize.data.menuLayout">
        <div class="page-sidebar" [ngClass]="customize.data.scroll"
            [class.navigation-bordered]="customize.data.borderNavigation"
            [class.navigation-rightside]="customize.data.rightSidebarIcon"
            [class.native-image-bg]="customize.data.backgroungImage"
            [class.native-default]="customize.data.defaultNavigation">
            <app-sidebar></app-sidebar>
        </div>
        <div class="page-body">
            <router-outlet></router-outlet>
            <br/>
            <br/>
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-6 footer-copyright">
                            <p class="mb-0">2020 ©<a href="">Natalysshop</a></p>
                        </div>
                        <div class="col-sm-12  col-md-6 col-xl-6">
                            <ul class="footer-links">
                                <li><a [routerLink]="['/comercio/acercade']">Acerca de</a></li>
                                <li><a [routerLink]="['/comercio/politicasprivacidad']">Políticas de privacidad</a></li>
                                <!-- <li><a [routerLink]="['/comercio/terminosycondiciones']">Terminos y condiciones</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--Page Body End-->
</div>
<!--page-wrapper End-->