<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>Detalle
                    <small>Se muestran todos los artículos que agregó a su pedido</small>
                </h3>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice">
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="assets/images/logo-login.png" class="media-object img-60" alt="">
                                            </div>
                                            <div class="media-body m-l-20">
                                                <h4 class="media-heading">Mis Compras</h4>
                                                <p> miscompras.com.gt<br>
                                                    <span class="digits">58868596</span>
                                                </p>
                                            </div>
                                        </div>
                                        <!--End Info-->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="text-md-right">
                                            <h3>Pedido #<span class="digits counter">{{datosPedido.id}}</span></h3>
                                            <p>Fecha: <span class="digits"> {{datosPedido.Fecha}}</span><br>
                                                Forma de pago:{{datosPedido.TipoPago}}
                                            </p>
                                        </div><!--End Title-->
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <!--End InvoiceTop-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="media">
                                        <div class="media-body m-l-20">
                                            <h4 class="media-heading">{{datosPedido.Nombre}}</h4>
                                            <p>{{datosPedido.direccion}}<br>
                                                <span class="digits">{{datosPedido.telefonos}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Invoice Mid-->
  
                            <div>
                                <div id="table" class="table-responsive invoice-table">
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td class="item"><h6 class="p-2 mb-0">Producto</h6></td>
                                            <td class="Hours"><h6 class="p-2 mb-0">Talla</h6></td>
                                            <td class="Rate"><h6 class="p-2 mb-0">Color</h6></td>
                                            <td class="Rate"><h6 class="p-2 mb-0">Cantidad</h6></td>
                                            <td class="Rate"><h6 class="p-2 mb-0">Precio</h6></td>
                                        </tr>
                                        <tr *ngFor="let item of detalleProd">
                                        <td>{{item.Producto}}</td>
                                        <td>{{item.Talla}}</td>
                                        <td>{{item.Color}}</td>
                                        <td>{{item.cantidad}}</td>
                                        <td>{{item.Precio| currency:'Q':'symbol'}}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="Rate"><h6 class="mb-0 p-2">Total</h6></td>
                                            <td class="payment digits"><h6 class="mb-0 p-2">{{total| currency:'Q':'symbol'}}</h6></td>
                                        </tr>
                                    </table>
                                </div><!--End Table-->
                                <div class="row">
                                    <div class="col-md-8">
                                        <div>
                                            <p class="legal"><strong>Gracias por comprar con nosotros</strong>  nos estaremos comunicando con su persona para informale el estado de su pedido.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End InvoiceBot-->
  
                        </div>
  
                        <div class="col-sm-12 text-center mt-3">
                            <button type="button" class="btn btn btn-primary mr-2">Imprimir</button>
                            <button type="button" class="btn btn-secondary">Cancelar</button>
                        </div>
                        <!--End Invoice-->
  
                    </div>
                    <!-- End Invoice Holder-->
                </div>
            </div>
        </div>
    </div>
  </div>
