<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col">
        <div class="page-header-left">
          <h3>Finalizar Pedido</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card checkout">
    <div class="card-header">
      <h5>Detalle de pedido</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="table-responsive" *ngIf="this.itemDireccion.nombre">
            Mis direcciones
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sel.</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Direccion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of direcciones;let i=index">
                  <td><a class="btn-primary" (click)="seleccionarDireccion(item)"><i class="fa fa-check"></i></a> </td>
                  <td>{{item.nombre}} {{item.apellido}}</td>
                  <td>{{item.direccion}}</td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-primary" (click)="abrirModal(content2)"><i class="fa fa-plus"></i> Agregar otra dirección</a>
          </div>
          <hr *ngIf="this.itemDireccion.nombre"/>


          <h5>Información de quien recibe</h5>
<app-moda-registrar-direccion [isModal]="false" (registroExitoso)="actualizarLista($event)" *ngIf="!this.itemDireccion.nombre" ></app-moda-registrar-direccion>

          <form novalidate *ngIf="this.itemDireccion.nombre">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" name="nombres" [value]="itemDireccion.nombre +' '+ itemDireccion.apellido"
                  class="form-control" readonly>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputEmail4">Teléfono</label>
                <input class="form-control" type="text" [value]="itemDireccion.telefono" class="form-control" readonly>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="inputState">Departamento</label>
                <input class="form-control" type="text" [value]="itemDireccion.Departamento" class="form-control"
                  readonly>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputState">Municipio</label>
                <input class="form-control" type="text" [value]="itemDireccion.Municipio" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Dirección</label>
              <textarea class="form-control" type="text" [value]="itemDireccion.direccion" class="form-control"
                readonly></textarea>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Punto de referencia</label>
              <textarea class="form-control" type="text" [value]="itemDireccion.puntoReferencia" class="form-control"
                readonly></textarea>
            </div>
            <div class="form-group">
              <label for="observaciones">Observaciones</label>
              <textarea name="observaciones" id="observaciones" [(ngModel)]="observaciones" class="form-control" type="text" class="form-control"
                ></textarea>
            </div>

          </form>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="checkout-details">
            <div class="order-box">
              <div class="title-box">
                <div class="checkbox-title">
                  <h4>Productos </h4><span>Total</span>
                </div>
              </div>
              <ul class="qty" *ngIf='checkOutItems.length'>
                <li *ngFor="let item of checkOutItems"> {{ item.producto.nombre }} × {{ item.cantidad }}
                  <span> {{ item.producto.precio * item.cantidad | currency:'Q':'symbol' }}</span>
                </li>
              </ul>
              <ul class="qty" *ngIf='!checkOutItems.length'>
                <li class="empty-checkout"> No hay productos en el carrito. </li>
              </ul>
              <ul class="sub-total">
                <li>Subtotal <span class="count">{{getTotal() | async | currency:'Q':'symbol'}}</span></li>
              </ul>
              <ul class="qty">
                <li>Costo de Envio <span class="count">{{costoEnvio | currency:'Q':'symbol'}}</span></li>
              </ul>
              <ul class="total">
                <li>Total <span class="count">{{ totalPedido | currency:'Q':'symbol'}}</span></li>
              </ul>
              <div class="animate-chk">
                <div class="row">
                  <div class="col">

                    <div ngbRadioGroup name="radioColores" [(ngModel)]="tipoPagoSeleccionado">
                      <li *ngFor="let tipo of tiposPago">
                        <label ngbButtonLabel class="btn btn-outline-light">
                          <input ngbButton type="radio" [value]="tipo.id" (click)="cambiarTipoPago(tipo.id)">
                          {{tipo.descripcion}}
                        </label>
                      </li>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button class="btn btn-success" type="button" (click)="registrarPedido()">Realizar pedido
                </button>
              </div>
            </div>
          </div>
          <div class="text-right m-t-20">
            <button class="btn btn-primary cart-btn-transform" [routerLink]="['/comercio/productos']">Continuar
              comprando</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content2 let-modal>
  <app-moda-registrar-direccion (accionModal)="cerrarModal($event)" (registroExitoso)="actualizarLista($event)">
  </app-moda-registrar-direccion>
</ng-template>
