<!--page-wrapper Start-->
<div class="page-wrapper">
    <!--Page Body Start-->
    <div class="page-body-wrapper landing-main">
        <div class="landing-home">
            <div class="landing-header">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="javascript:void(0);"><img src="assets/images/logo-light.png"
                                class="img-fluid" alt="" /></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon">
                                <i class="fa fa-bars"></i>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="landing#home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="landing#pre-build">Layout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="landing#cutomizer">customizer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="landing#key-feature">key-feature</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="landing#support">Update</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="landing#rate">support</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="landing-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 offset-lg-2 dashboard-image-pt-xs offset-md-1 col-md-5 offset-sm-0">
                            <div class="landing-left">
                                <div>
                                    <h1>Bootstrap Angular 8<span class="txt-danger"> Admin </span>Template</h1>
                                    <p class="pr-5">When it comes to dashboard or web apps. one of the first
                                        impression you consider is the design. It needs to be high quality
                                        enough otherwise you will lose potential users due to bad design.</p>
                                    <div class="button-bottom">
                                        <a [routerLink]="'/dashboard/default'" class="btn btn-primary mr-2">View
                                            Demo</a>
                                        <a href="https://templateforest.net/user/pixelstrap" target="_blank"
                                            class="btn btn-outline-primary-2x">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pr-0 col-md-6">
                            <img src="assets/images/landing/home/right.png" class="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--admin option section start-->
        <section class="section-space bg-white">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2><span class="digits">3</span> PRE BUILD SIDEBAR OPTIONS</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="live-box">
                            <img src="assets/images/landing/layout_dashboard/1.jpg" class="img-fluid" alt="" />
                            <a class="btn btn-sm btn-info" [routerLink]="'/dashboard/default'">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20  text-center">
                            <h6 class="f-w-700">Left Sidebar</h6>
                            <h6>(Light layout)</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="live-box">
                            <img src="assets/images/landing/layouts_prebuild/2.jpg" class="img-fluid" alt="" />
                            <a class="btn live-btn btn-info" [routerLink]="'/compact-sidebar/dashboard/ecommerce'">View
                                Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20  text-center">
                            <h6 class="f-w-700">compact Sidebar</h6>
                            <h6>(Light layout)</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="live-box">
                            <img src="assets/images/landing/layouts_prebuild/3.jpg" class="img-fluid" alt="" />
                            <a class="btn live-btn btn-info"
                                [routerLink]="'/compact-sidebar-icons/dashboard/business'">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20  text-center">
                            <h6 class="f-w-700">compact Icon only Sidebar</h6>
                            <h6>(Light layout)</h6>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2><span class="digits">4</span> Pre Build Dashboard Options</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout_dashboard/1.jpg" class="img-fluid" alt="" />
                            <a class="btn btn-sm btn-info" [routerLink]="'/dashboard/default'">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20  text-center">
                            <h6 class="f-w-700">Default Dashboard</h6>
                            <h6>(Light layout)</h6>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout_dashboard/2.jpg" class="img-fluid" alt="" />
                            <a class="btn btn-sm btn-info" [routerLink]="'/dashboard/ecommerce'">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20  text-center">
                            <h6 class="f-w-700">Ecommerce Dashboard</h6>
                            <h6>(Light layout)</h6>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout_dashboard/3.jpg" class="img-fluid" alt="" />
                            <a class="btn btn-sm btn-info" [routerLink]="'/dashboard/business'">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20  text-center">
                            <h6 class="f-w-700">Business Dashboard</h6>
                            <h6>(Light layout)</h6>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout_dashboard/4.jpg" class="img-fluid" alt="" />
                            <a class="btn btn-sm btn-info" [routerLink]="'/dashboard/crm'">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20  text-center">
                            <h6 class="f-w-700">CRM Dashboard</h6>
                            <h6>(Light layout)</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header pt-5 pb-3">
                            <h4 class="text-uppercase f-w-900">Layout Options</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout/4.jpg" class="img-fluid" alt=""/>
                            <a class="btn btn-sm btn-info" href="https://angular.pixelstrap.com/universal/enterprice/enterprice-layouts/components/enterprice"  target="_blank">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20">
                            <h6 class="f-w-700">Enterprise Dashboard</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout/3.jpg" class="img-fluid" alt=""/>
                            <a class="btn btn-sm btn-info" href="https://angular.pixelstrap.com/universal/business/business-layouts/components/business" target="_blank">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20">
                            <h6 class="f-w-700">Business Dashboard</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout/1.jpg" class="img-fluid" alt=""/>
                            <a class="btn btn-sm btn-info" href="https://angular.pixelstrap.com/universal/mornden/modern-layouts/components/modern" target="_blank">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20">
                            <h6 class="f-w-700">Modern Dashboard</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="live-box">
                            <img src="assets/images/landing/layout/2.jpg" class="img-fluid" alt=""/>
                            <a class="btn btn-sm btn-info" href="https://angular.pixelstrap.com/universal/solitary/solitary-layouts/components/solitary" target="_blank">View Demo</a>
                        </div>
                        <div class="m-t-15 m-b-20">
                            <h6 class="f-w-700">Solitary Dashboard</h6>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-4">
                        <div class="live-box">
                            <img src="assets/images/landing/layout/5.jpg" class="img-fluid" alt=""/>
                            <a class="btn btn-sm btn-info" href="https://angular.pixelstrap.com/universal/corporate/corporate-layouts/components/corporate" target="_blank">View Demo</a>
                        </div>
                        <div class="m-t-15">
                            <h6 class="f-w-700">Corporate Dashboard</h6>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--admin option section ends-->

        <!--advance widgets start-->
        <section class="section-space advance-widget">
            <div class="landing-header">
                <h2>Advance Widget</h2>
                <div class="line"></div>
            </div>
            <div class="widgets-section">
            </div>
        </section>
        <!--advance widgets ends-->

        <!--live customizer start-->
        <section class="section-space bg-white" id="cutomizer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2>Real Time Customizer</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="assets/images/landing/UNIVERSAL.gif" class="img-fluid customizer-img" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!--live customizer ends-->

        <!--application start-->
        <section class="section-space application-section" id="pre-build">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2>With <span class="digits">8+</span> Pre Build Apps</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Nav pills -->
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#users">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#email">Email</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#chat">Chat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#ecommerce">Ecommerce</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="users" class="container tab-pane active"><br>
                                <a [routerLink]="'/users/profile'">
                                    <img src="assets/images/landing/app/user.png" class="img-fluid" alt="" />
                                </a>
                            </div>
                            <div id="email" class="container tab-pane fade"><br>
                                <a [routerLink]="'/email/app'">
                                    <img src="assets/images/landing/app/email.png" class="img-fluid" alt="" />
                                </a>
                            </div>
                            <div id="blog" class="container tab-pane fade"><br>
                                <a [routerLink]="'/blog/details'">
                                    <img src="assets/images/landing/app/blog.png" class="img-fluid" alt="" />
                                </a>
                            </div>
                            <div id="chat" class="container tab-pane fade"><br>
                                <a [routerLink]="'/chat/app'">
                                    <img src="assets/images/landing/app/chat.png" class="img-fluid" alt="" />
                                </a>
                            </div>
                            <div id="ecommerce" class="container tab-pane fade"><br>
                                <a [routerLink]="'/ecommerce/product'">
                                    <img src="assets/images/landing/app/ecommerce.png" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--application ends-->

        <!--key features start-->
        <section class="section-space key-features-section bg-white" id="key-feature">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2>Key Features</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-1.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Seamless Coding</h5>
                                <p class="mb-0">We have crafted our templates very carefully and our code is W3C
                                    validated</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-2.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Lots of Table Example</h5>
                                <p class="mb-0">We made sure that you get lots of table options to choose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-3.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Easy to Customize</h5>
                                <p class="mb-0">Our Template is easy to do any required changes</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-7.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Editors</h5>
                                <p class="mb-0">Options to select the editors that you are comfortable with</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-8.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>owl carousel</h5>
                                <p class="mb-0">Touch without jQuery plugin that lets you create a beautiful responsive
                                    carousel</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-9.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Bootstrap</h5>
                                <p class="mb-0">Cloudui is built with latest version of bootstrap</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-10.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Fully responsive</h5>
                                <p class="mb-0">100% fully responsive layout, It display well in any size of devices</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-11.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Rich components</h5>
                                <p class="mb-0">A lot of UI components, plugins and widgets</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-12.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Data visualisation</h5>
                                <p class="mb-0">A lot of customised chart libraries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-13.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>3000s of icons</h5>
                                <p class="mb-0">Over 3000+ icons to choose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-14.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>SCSS</h5>
                                <p class="mb-0">Built with scss to make development and customisation easier</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-15.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Support</h5>
                                <p class="mb-0">we are always there as your backbone for any of your minor query</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main pb-0">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-16.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content pb-xs-feature">
                                <h5>Clean design</h5>
                                <p class="mb-0">Clean and attractive design</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main pb-0 xs-mt-feature">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-17.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content pb-xs-feature">
                                <h5>Color templates</h5>
                                <p class="mb-0">Dark and light templates available</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature-main pb-0 xs-mt-feature">
                            <div class="feature-icon">
                                <img src="assets/images/landing/icon/key-feature-18.png" class="img-fluid" alt="" />
                            </div>
                            <div class="feature-content">
                                <h5>Documentation</h5>
                                <p class="mb-0">Well documented</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--key features ends-->

        <!--many other features start-->
        <section class="section-space advance-widget many-feature-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2>Lots Of More...</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h5>+ <span class="digits">4+</span> Dashboards</h5>
                        <h5>+ <span>Multiple Navbar Options</span></h5>
                        <h5>+ <span>Multiple Menu Options</span></h5>
                        <h5>+ <span>Footer Options</span></h5>
                        <h5>+ <span>Starter Kit For Developers</span></h5>
                        <h5>+ <span>Advance Card UI</span></h5>
                        <h5>+ <span>Useful Helper Classes</span></h5>
                        <h5>+ <span class="digits">4</span> Icon Sets</h5>

                        <h5 class="mb-0">+ <span class="digits">4</span> Form Wizard</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="mt-md-many-feature">+ <span>Customize Bootstrap Tables</span></h5>
                        <h5>+ <span>Datatables & Advance Datatable</span></h5>
                        <h5>+ <span>Date & Time Pickers</span></h5>
                        <h5>+ <span>Event Calenders</span></h5>
                        <h5>+ <span class="digits">3</span> Chart Libraries</h5>
                        <h5>+ <span>Organized Folder Structure</span></h5>
                        <h5>+ <span>Clean & Commented Code</span></h5>
                        <h5>+ <span>Fully Responsive Layouts</span></h5>
                        <h5 class="mb-0">+ <span>SASS Support</span></h5>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="mt-md-many-feature">+ <span>Cross Browser Compatibility</span></h5>
                        <h5>+ <span>Well Documented</span></h5>
                        <h5>+ <span>Animated Modal</span></h5>
                        <h5>+ <span>Sticky Note</span></h5>
                        <h5>+ <span>Range Slider</span></h5>
                        <h5>+ <span class="digits">8+</span> In-Build Apps</h5>
                        <h5>+ <span>Include All Necessary Pages</span></h5>
                        <h5>+ <span>Basic & Advance Form Inputs</span></h5>
                        <h5 class="mb-0">+ <span>And Much More...</span></h5>
                    </div>
                </div>
            </div>
        </section>
        <!--many other features ends-->

        <!--updates features section start-->
        <section class="section-space updates-features advance-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2 class="mb-0">Every Updates Upcoming Features</h2>
                            <p> Pre-Build Admin(Coming Soon..)</p>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-8 col-md-10">
                                    <div class="row">
                                        <div class="col-md-3 col-6 updates-xs-mb">
                                            <img src="assets/images/landing/cooming/pre-build-admin-1.png"
                                                class="img-fluid" alt="" />
                                            <h6 class="mb-0">Real Estate</h6>
                                        </div>
                                        <div class="col-md-3 col-6 updates-xs-mb">
                                            <img src="assets/images/landing/cooming/pre-build-admin-2.png"
                                                class="img-fluid" alt="" />
                                            <h6 class="mb-0">University</h6>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <img src="assets/images/landing/cooming/pre-build-admin-3.png"
                                                class="img-fluid" alt="" />
                                            <h6 class="mb-0">Hospital</h6>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <img src="assets/images/landing/cooming/pre-build-admin-4.png"
                                                class="img-fluid" alt="" />
                                            <h6 class="mb-0">Many more..</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--updates features section ends-->

        <!--support section start-->
        <section class="section-space advance-widget bg-white" id="support">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2>Support</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="support-section">
                            <i class="icon-headphone-alt font-primary"></i>
                            <h6>Have any Problem?</h6>
                            <p>No worries- Support service is always ready to support you</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="support-section">
                            <i class="icon-import font-secondary"></i>
                            <h6>Are you new user and you can't install template?</h6>
                            <p>No worries- Well install free template for you</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="support-section">
                            <i class="icon-help-alt font-success"></i>
                            <h6>Frequently asked questions</h6>
                            <p class="mb-0">If you have any question, please feel free to post it in our support system
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--support section ends-->

        <!--footer start-->
        <section class="section-space footer-bg" id="rate">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>if you like our products Please Rate Us</h2>
                        <div class="star-rate">
                            <i class="fa fa-star font-warning"></i>
                            <i class="fa fa-star font-warning"></i>
                            <i class="fa fa-star font-warning"></i>
                            <i class="fa fa-star font-warning"></i>
                            <i class="fa fa-star font-warning"></i>
                        </div>
                        <button type="button" class="btn btn-warning btn-lg" data-original-title="btn btn-info btn-lg"
                            title="">Rate Us</button>
                    </div>
                </div>
            </div>
        </section>
        <!--footer ends-->
        <!--Page Body Ends-->
    </div>
    <!--Page Body Ends-->

</div>
<!--page-wrapper Ends-->