/**=====================
     22. User profile css start
==========================**/
.plain-container  {
  img {
    width: 100% !important;
    border-radius: 0.25rem !important;
    max-width: 100%;
    height: auto;
  }
}
#modal-gallery-container {
  header {
    &.buttons-container {
      background: transparent !important;
      height: auto !important;
    }
  }
}
.upload {
  position: absolute;
  width: 100px;
  left: 0;
  right: 0;
  opacity: 0;
}
.user-profile {
  .ttl-info {
    h6 {
      font-size: 12px;
      color: $semi-dark;
    }
    span {
      font-size: 14px;
      color: $theme-font-color;
      font-weight: 500;
    }
  }
  .border-right {
    border-right: 1px solid $light-color;
  }
  hr {
    margin: 30px 0;
  }
  .hovercard {
    .cardheader {
      background: url(./images/bg-profile.png);
      background-size: cover;
      background-position: 10%;
      height: 470px;
    }
    .user-image {
      position: relative;
    .avatar {
      margin-top: -90px;
      img {
        width: 155px;
        height: 155px;
        max-width: 155px;
        max-height: 155px;
        border-radius: 50%;
        border: 10px solid $white;
      }
    }
      .icon-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $white;
        cursor: pointer;
        overflow: hidden;
        margin: 0 auto;
        font-size: 17px;
        &:hover
        {
          color: $primary-color;
          font-size: 15px;
        }
      }
    }
    .info {
      padding: 30px;
      .title {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1;
        color: $dark-color;
        vertical-align: middle;
        a {
          color: $theme-font-color;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .desc {
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        color: $semi-dark;
        text-overflow: ellipsis;
        text-transform: uppercase;
      }
    }
  }
  .follow {
    margin-top: 20px;
    .total-num {
      font-size: 36px;
      color: $theme-font-color;
      font-family: $font-open-sans;
    }
    span {
      color: $semi-dark;
    }
  }
  .profile-img-style {
    padding: 30px;
    .img-container{
      margin-top: 30px;
    }
    .user-name {
      font-size: 14px;
      color: $theme-font-color;
      margin: 0;
      font-weight: 600;
    }
    p {
      line-height: 30px;
      font-size: 14px;
      color: $dark-gray;
      margin-bottom: 0;
    }
    .media {
      img {
        width: 75px;
      }
    }
  }
  .like-comment {
    a{
      color: $dark-gray;
      &:hover{
        color: $danger-color;
      }
    }
    span {
      font-family: $font-open-sans;
    }
  }
  .social-media {
    a {
      padding:0 15px;
      color: $semi-dark;
      font-size: 24px;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
/**=====================
     22. User profile css Ends
==========================**/
