<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Mis Pedidos</h5>
                </div>
                <div class="card-body smart-datatable">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Ver</th>
                                    <th scope="col">Fecha de Ingreso</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Tipo de pago</th>
                                    <th scope="col">Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                             <tr *ngFor="let item of info">
                                 <td>00000{{item.idPedido}}</td>
                                 <td><a (click)="abrirModal(content1,item)"><i class="icon-eye"></i></a></td>
                                 <td>{{item.fechaIngreso}}</td>
                                 <td>{{item.estado}}</td>
                                 <td>{{item.total | currency:'Q':'symbol'}}</td>
                                 <td>{{item.tipoPago}}</td>
                                 <td>{{item.observaciones}}</td>
                                 <ng-template #content1 let-modal>
                                    <app-modal-detalle-pedido-sistema (accionModal)="cerrarModalTalla($event)" [infoPedido]="infoPedido" (actualizarListado)="actualizarListado($event)">
                                    </app-modal-detalle-pedido-sistema>
                              </ng-template>

                             </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
  
<!-- Container-fluid Ends -->

