<div class="container-fluid">
    <!--login page start-->
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="auth-innerleft">
                    <div class="text-center">
                        <img src="assets/images/logo-login.png" class="logo-login" alt="">
                        <hr>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-facebook txt-fb" aria-hidden="true"></i>
                                </li>
                                <li class="list-inline-item"><i class="fa fa-google-plus txt-google-plus"
                                        aria-hidden="true"></i></li>
                                <li class="list-inline-item"><i class="fa fa-twitter txt-twitter"
                                        aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <h4>Ingreso al Sistema</h4>
                        <h6>Por favor digite su correo y contraseña</h6>
                        <div class="card mt-4 p-4 mb-0">

                            <form [formGroup]="validationForm" (ngSubmit)="login(validationForm)" novalidate>
                                <div class="form-group">
                                    <label class="col-form-label pt-0">Correo</label>
                                    <input type="email" class="form-control form-control-lg" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [email]="true" required="required" id="email" 
                                        placeholder="Correo electrónico"
                                        [formControl]="validationForm.controls['email']" required>
                                    <div *ngIf="validationForm.controls.email.touched && validationForm.controls.email.errors?.required"
                                        class="text text-danger">
                                        Campo obligatorio
                                    </div>
                                    <div *ngIf="validationForm.controls['email'].errors?.pattern" class="text text-danger">
                                        El correo ingresado no cumple con el formato <i>ejemplo@gmail.com</i>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Constraseña</label>
                                    <input type="password" class="form-control form-control-lg" id="password"
                                        placeholder="Contraseña" [formControl]="validationForm.controls['password']"
                                        required>
                                    <div *ngIf="validationForm.controls.password.touched && validationForm.controls.password.errors?.required"
                                        class="text text-danger">
                                        Campo obligatorio
                                    </div>
                                </div>
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox"
                                        [formControl]="validationForm.controls['recordarme']">
                                    <label for="checkbox1">Recordarme</label>
                                </div>
                                <div class="form-group form-row mt-3 mb-0">
                                    <div class="col-md-3">
                                        <button type="submit" [disabled]="!validationForm.valid"
                                            class="btn btn-secondary">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--login page end-->
</div>