<div class="modal-header">
    <h4 class="modal-title">Detalle de Pedido</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelar()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card-body smart-datatable">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <td>00000{{infoPedido.idPedido}}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{infoPedido.nombre}} {{infoPedido.apellido}}</td>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <td>{{infoPedido.telefono}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Ingreso</th>
                        <td>{{infoPedido.fechaIngreso}}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>{{infoPedido.estado}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>{{infoPedido.total | currency:'Q':'symbol'}}</td>
                    </tr>
                    <tr>
                        <th>Tipo de Pago</th>
                        <td>{{infoPedido.tipoPago}}</td>
                    </tr>
                    <tr>
                        <th>Observaciones</th>
                        <td>{{infoPedido.observaciones}}</td>
                    </tr>
                    <tr>
                        <th>Departamento</th>
                        <td>{{infoPedido.departamento}}</td>
                    </tr>
                    <tr>
                        <th>Municipio</th>
                        <td>{{infoPedido.municipio}}</td>
                    </tr>
                    <tr>
                        <th>Direccion</th>
                        <td>{{infoPedido.direccion}}</td>
                    </tr>
                    <tr>
                        <th>Punto Referencia</th>
                        <td>{{infoPedido.puntoReferencia}}</td>
                    </tr>
                    
                </thead>
            </table>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Talla</th>
                        <th scope="col">Color</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio C/U</th>
                        <th scope="col">SubTotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of detalleProd;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.Producto}}</td>
                        <td>{{item.proveedor}}</td>
                        <td>{{item.Talla}}</td>
                        <td>{{item.Color}}</td>
                        <td>{{item.cantidad>0?item.cantidad:'No se encontro disponibilidad con el proveedor'}}</td>
                        <td>{{item.Precio | currency:'Q':'symbol'}}</td>
                        <td>{{(item.cantidad*item.Precio) | currency:'Q':'symbol'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6"></td>
                        <td>Costo Envio</td>
                        <td>{{infoPedido.costoEnvio|currency:'Q':'symbol'}}</td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td>Total</td>
                        <td>{{(total+infoPedido.costoEnvio)|currency:'Q':'symbol'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="cancelar()">Cerrar</button>
</div>