<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>Sobre nosotros</h3>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5>
                        Somos distribuidores independientes de las siguientes marcas.
                    </h5>
                    <div class="row">
                        <img src="../../../../../assets/images/proveedores/amway.jpg"  class="img-fluid" alt="Amway" />
                        <img src="../../../../../assets/images/proveedores/omnilife.png" class="img-fluid" alt="Omnilife"/>
                        <img src="../../../../../assets/images/proveedores/seytu.png" class="img-fluid" alt="Seytu"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts -->