<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Sobre nosotros</h5>
                </div>
                <div class="card-body">
                    <p>
                       Somos un marketplace guatemalteco que busca unificar la venta de productos de los proveedores AMWAY, SEYTU Y OMNILIFE
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts -->