<div class="container-fluid">
    <!--login page start-->
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="auth-innerleft">
                    <div class="text-center">
                        <img src="assets/images/site/logoweb.png" alt="Logo empresa">
                        <hr>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-facebook txt-fb" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <h4>Registrarse</h4>
                        <h6>Por favor complete la información solicitada por el formulario</h6>
                        <div class="card mt-4 p-4 mb-0">

                            <form [formGroup]="validationForm" (ngSubmit)="registrarse(validationForm)" novalidate>
                                <div class="form-group">
                                    <label class="col-form-label pt-0">Nombre y Apellidos</label>
                                    <input type="text" class="form-control form-control-lg"
                                        required="required" id="name" placeholder="Nombre y Apellidos"
                                        [formControl]="validationForm.controls['name']" required>
                                    <div *ngIf="validationForm.controls.name.touched && validationForm.controls.name.errors?.required"
                                        class="text text-danger">
                                        Debe de ingresar su nombre y apellidos
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label pt-0">Correo</label>
                                    <input type="email" class="form-control form-control-lg"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [email]="true"
                                        required="required" id="email" placeholder="Correo electrónico"
                                        [formControl]="validationForm.controls['email']" required>
                                    <div *ngIf="validationForm.controls.email.touched && validationForm.controls.email.errors?.required"
                                        class="text text-danger">
                                        Debe de ingresar su correo electrónico
                                    </div>
                                    <div *ngIf="validationForm.controls['email'].errors?.pattern"
                                        class="text text-danger">
                                        El correo ingresado no cumple con el formato <i>ejemplo@gmail.com</i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Constraseña</label>
                                    <input type="password" class="form-control form-control-lg" id="password"
                                        placeholder="Contraseña" [formControl]="validationForm.controls['password']"
                                        required>
                                    <div *ngIf="validationForm.controls.password.touched && validationForm.controls.password.errors?.required"
                                        class="text text-danger">
                                        Debe de ingresar una contraseña
                                    </div>
                                </div>
                                <div class="form-group form-row mt-3 mb-0">
                                    <div class="col-md-3">
                                        <button type="submit" [disabled]="!validationForm.valid"
                                            class="btn btn-secondary">Registrarse</button>
                                    </div>
                                    <div class="col-md-6">
                                            <a  [routerLink]="['/login']"
                                            class="btn btn-primary">Ya tengo una cuenta</a>
                                    </div>
                                </div>
                                <div class="theme-form">
                                    <div class="form-divider"></div>
                                    <div class="social mt-3">
                                        <div class="form-row">
                                            <!-- <div class="col-sm-4">
                                                <button class="btn social-btn btn-fb mb-2" (click)="ingresar('facebook')">Facebook</button>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="btn social-btn btn-twitter mb-2">Twitter</button>
                                            </div> -->
                                            <div class="col-sm-4">
                                                <button type="button" class="btn social-btn btn-google mb-2"
                                                    (click)="ingresar('google')">Google</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- <button type="button"
                                class="btn btn-secondary" (click)="salir('google')">SALIR</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--login page end-->
</div>