<!--page-wrapper Start-->
<style>
    .landing-main .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item a {
        color: #ab8ce4 !important;
    }

    .landing-main .landing-home {
        background-image: none !important;
        min-height: 0vh !important;
    }
</style>
<div class="page-wrapper">
    <!--Page Body Start-->
    <div class="page-body-wrapper landing-main">
        <div class="landing-home">
            <div class="landing-header">
                <div class="container-fluid">
                   <app-encabezado></app-encabezado>
                    <!-- Carrusel -->
                    <app-carrusel></app-carrusel>
                </div>
            </div>
        </div>
       
        <!-- <div class="page-body-wrapper landing-main">
            <div class="landing-home">
                <div class="landing-header">
                    <div class="container-fluid">
                        <app-carrusel></app-carrusel>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container-fluid">
            <div class="row">

                <app-productos></app-productos>
            </div>
        </div>

        <!--admin option section ends-->


        <!--support section start-->
        <!-- <section class="section-space advance-widget bg-white" id="support">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="landing-header">
                            <h2>Support</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="support-section">
                            <i class="icon-headphone-alt font-primary"></i>
                            <h6>Have any Problem?</h6>
                            <p>No worries- Support service is always ready to support you</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="support-section">
                            <i class="icon-import font-secondary"></i>
                            <h6>Are you new user and you can't install template?</h6>
                            <p>No worries- Well install free template for you</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="support-section">
                            <i class="icon-help-alt font-success"></i>
                            <h6>Frequently asked questions</h6>
                            <p class="mb-0">If you have any question, please feel free to post it in our support system
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--support section ends-->
        <app-footer-inicio></app-footer-inicio>
        <!--footer start-->
        <!-- <app-footer></app-footer> -->
        <!--footer ends-->
        <!--Page Body Ends-->
    </div>
    <!--Page Body Ends-->

</div>
<!--page-wrapper Ends-->