<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="javascript:void(0);"><img src="assets/images/logo-light.png"
            class="img-fluid" alt="" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">
            <i class="fa fa-bars"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="landing#home">Hogar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="landing#pre-build">Calzado Para Dama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="landing#cutomizer">Calzado para caballero</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="landing#key-feature">key-feature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="landing#support">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="landing#rate">Ofertas</a>
            </li>
        </ul>
    </div>
</nav>