<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-6 footer-copyright">
                <p class="mb-0">2019 © Universal theme by <a href="javascript:void(0);">pixelstrap</a></p>
            </div>
            <div class="col-sm-12  col-md-6 col-xl-6">
                <ul class="footer-links">
                    <li><a href="">About</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">T&amp;C</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>